/* define font and line space */

/* possible background image link:<a href='https://www.freepik.com/vectors/background'>Background vector created by starline - www.freepik.com</a> */

body {
  font-family: 'Roboto Mono', monospace, sans-serif;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  background-color: #24252d;
}

/* link colours and hover */
a:visited {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  font-weight: 500;
}

a:active {
  color: #dd6929;
}

a[href^="mailto"] {
  color: #5cab72;
}

a[href^="skype"] {
  color: #5cab72;
}

a[href^="+12345679812"] {
  color: #5cab72;
}

a[href^="#"] {
  color: #5cab72;
}

/* link animation */
a {
  transition-duration: 0.3s;
  transition-property: font-weight;
}

/* button styling and transition */
#direct__button {
  background-color: #24252d;
  text-decoration: none;
  color: #dd6929;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
#cv__button {
  background-color: #24252d;
  text-decoration: none;
  color: #dd6929;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

button {
  background-color: #24252d;
  color: #dd6929;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: transform .2s; /* Animation */
}

#button {
  background-color: #24252d;
  color: #dd6929;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: transform .2s; /* Animation */
}

.cv__button {
  background-color: #24252d;
  color: #dd6929;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: transform .2s; /* Animation */
}

button:hover,
button:focus {
  cursor: pointer;
  font-weight:500;
  transform: bolder;
  transform: scale(1.1);
}

/* header styling */
.page-header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
}

 .page-header__item {
  flex: 0 1 200px;
} 

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
} 

.nav-link {
  color: #fff;
  text-decoration: underline;
}
.nav-link:hover{
  color: #dd6929;
}
.navlink:focus{
  color: #dd6929;
}

.active {
  color: #dd6929;
  text-decoration: none;
}

/* footer styling */
.page-footer {
  box-sizing: border-box;
  clear: both;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  text-align: center;
  align-items: center;
}
.footer-icons{
  margin-top: 10px;
  width: 55px;
  transition: transform .2s; /* Animation */
}
.footer-icons:hover{
 transform: scale(1.3);
}

/* title animation */


@keyframes color {
  from { color: #24252d; }
  to { color: #fff; }
}

/* index page styling */

.profile {
  box-sizing: border-box;
  max-width: 90%;
  margin: 0 auto;
}

.profile__portrait {
  box-sizing: border-box;
  clear: both;
  float: left;
  width: 18%;
  margin-right: 40px;
  padding-top: 20px;
  border-radius: 15%;
}

.profile-text {
  box-sizing: border-box;
  display: inline-block;
  width: 70%;
  justify-content: center;
  padding: 0 40px 20px 0;
}

/* contact page styling */
.contact-page {
  box-sizing: border-box;
  max-width: 90%;
  margin: 0 auto;
}

.contact-info {
  box-sizing: border-box;
}

.contact-form {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@keyframes color-change {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}


/* about page styling */
.about-description {
  box-sizing: border-box;
}

/* work page grid styling */
section {
  margin: 40px;
}

.card{
  background-color: #1a1a1e;
  border-radius: 10px;
  border: 10px;
  display: inline-block;
  padding: 15px;
  width: auto;
}

/* grid layout */
.grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.icons{
  margin: 20px;
}


.card:last-child {
  grid-column: 3/3;
  grid-row: 2/3;
}
.card-title{
  color: #dd6929;
}
.card-img-top{
  padding-bottom: 5px;
}
.btn-link{
  color:#dd6929;
  font-size: 18px;
  transition: transform .2s; /* Animation */
}
.btn-link:hover{
  color: #dd6929;
  transform: scale(1.2);
}
.links{
 display: flex;
 justify-content:space-between;
 transition: transform .2s; /* Animation */
}
.links:hover{
  transform: bolder;
}


/* responsive media queries */

/* work page media queries */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 500px) {
  .nav{
    flex-direction: column;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .card:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  h1 {
    font-size: 22px;
  }

  .profile {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  margin-left: 20px;
  display:block;
  justify-content: center;
}
#profile-title{ 
  width: 50px;
  padding-top: 15px;
}

.profile__portrait {
  box-sizing: border-box;
  display: inline;
  clear: both;
  flex-direction: row;
  width: 30%;
  padding-right: 5px; 
  margin-right: 5px;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 15%;
}

.profile-text {
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 0 40px 0 0;
  margin-left: 20px;
}
}

/* about page media queries */
@media all and (max-width: 750px) {
  .about-description {
    margin: 20px;
    float: left;
    width: 95%;
    margin-right: 20px;
  }
  .card{
    margin-left: none;
}

/* contact page media queries */
    #nav-img{
    width: auto;
    height:60px;
  }
}



